html,
head{
    background-image: url("http://45.70.62.172:801/arthur/mario-6.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    margin-top: 0;
    width: 100%;
    height: 100%;
}