html,
head{
    background-image: url("http://45.70.62.172:801/arthur/img/background.jpg");
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    margin-top: 0;
    width: 100%;
    height: 100%;
}
body.index {
    background-color: transparent;
}
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
.arthur-img{
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: -5px;
}
.menu-container {
    margin-left: 10px;
}
.custom-hamburger {
    color: black; 
}
.logo-container {
    flex: 1; /* Ocupa o máximo possível de espaço disponível */
}
.logoarthur{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.content-container {
    position: relative;
    z-index: 1; /* Garante que o conteúdo tenha uma ordem de empilhamento superior à imagem */
    background-color: rgba(255, 255, 255, 0.65);
    border: 2px solid black;
    border-radius: 10px;
    box-sizing: border-box; /* Inclui o padding na largura/altura total */
    margin-left: 3px;
    margin-right: 3px;
}

.msghome{
    color: rgb(16, 123, 211);
    text-align: center;
    font-family: Comic Sans MS;
    margin-top: 6px;
    /* Para navegadores modernos (usando text-stroke) */
    -webkit-text-stroke: 1px #000; /* Contorno preto de 2 pixels no WebKit (Safari/Chrome) */
    text-stroke: 1px #000; /* Contorno preto de 2 pixels */
    /* Para navegadores mais antigos (usando text-outline) */
    text-outline: 1px #000; /* Contorno preto de 2 pixels */
}

.container {
    text-align: center;
    max-width: 600px;
    margin: 0 auto; /* Centraliza a div horizontalmente */
    display: flex; /* Adiciona display flex para colocar os itens lado a lado */
    align-items: center; /* Centraliza verticalmente os itens na div */
    justify-content: center; /* Centraliza horizontalmente os itens na div */
}

.calendar-img {
    width: 25px;
    height: 25px;
    margin-bottom: 15px;
}

.text-next-to-image {
    margin-top: 10px;
    margin-left: 10px; /* Espaço entre a imagem e o texto */
    font-size: 18px;
    font-weight: bold;
}

.container2 {
    text-align: center;
    margin: 0 auto; /* Centraliza a div horizontalmente */
    display: flex; /* Adiciona display flex para colocar os itens lado a lado */
    align-items: center; /* Centraliza os itens verticalmente */
    justify-content: center; /* Centraliza os itens horizontalmente */
    width: auto;
}

.img-container {
    margin-right: 10px; /* Adiciona um espaço entre a imagem e os parágrafos */
}

.gps-img {
    width: 25px;
    height: 25px;
}

.text-container {
    margin-bottom: 7px;
}

.text-container p {
    margin: 0; /* Remove a margem padrão dos parágrafos para evitar espaçamento adicional */
    font-size: 12px;
}

.text-container p:first-child {
    font-size: 15px;
    text-align: left;
    font-weight: bold;
}

.botoes{
    font-family: Comic Sans MS;
    background-color: rgb(16, 123, 211, 0.8);
    border: none;
    color: #000000;
    padding: 4px 10px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    font-size: large;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.9s ease; /* Adiciona uma transição suave na cor de fundo */
}

.botoes:hover {
    background-color: rgb(16, 123, 211); /* Remove a animação hover enquanto o botão está sendo clicado */
    color: #ffffff;
}

.botoes:active {
    background-color: rgb(24, 2, 104); /* Altera a cor de fundo para totalmente opaca quando o botão está sendo clicado */
    color: #ffffff;
}

.botoesn{
    font-family: Comic Sans MS;
    background-color: rgba(211, 16, 58, 0.8);
    border: none;
    color: #000000;
    padding: 4px 10px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    font-size: large;
    margin-bottom: 10px;
    margin-top: 5px;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.9s ease; /* Adiciona uma transição suave na cor de fundo */
}

.botoesn:hover {
    background-color: rgb(211, 16, 58); /* Remove a animação hover enquanto o botão está sendo clicado */
    color: #ffffff;
}

.botoesn:active {
    background-color: rgb(255, 0, 55); /* Altera a cor de fundo para totalmente opaca quando o botão está sendo clicado */
    color: #ffffff;
}

.modal-body {
    text-align: center;
}

.opcao-btn-group {
    display: flex;
    justify-content: center;
    text-align: center;
}

.opcao-btn {
    color: #007bff; /* Cor do texto não selecionado */
    background-color: #fff; /* Cor de fundo não selecionado */
    border: 2px solid #007bff; /* Adiciona uma borda azul não selecionada */
    cursor: pointer;
    width: 70px; /* Largura desejada */
    margin-right: 3px;
}

.opcao-btn input:checked + i {
    color: #fff; /* Cor do texto quando selecionado */
}

.opcao-btn input:checked {
    color: #fff; /* Cor do texto quando selecionado */
    background-color: #007bff; /* Cor de fundo quando selecionado */
    border: 2px solid #007bff; /* Adiciona uma borda azul quando selecionado */
}

.opcao-btn input {
    display: none; /* Esconde o botão de rádio padrão */
}

/* Estilo personalizado para o modal de menu */
.menu-modal {
    max-width: 200px; /* Largura máxima desejada */
    margin-left: auto; /* Alinha à direita da tela */
    margin-right: 10px; /* Margem à direita para evitar borda da tela */
    text-align: right; /* Alinha o conteúdo à direita */
}

/* Ajusta o conteúdo interno do modal para ocupar a largura máxima */
.menu-modal .modal-content {
    width: 100%;
}

/* Remove a margem padrão do modal Bootstrap */
.menu-modal .modal-dialog {
    margin: 0;
}


/* ********************************** Direcionado a pagina de mural_recados.php ********************************** */
.btn-voltar {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}
/* ********************************** Direcionado as paginas de consultas ********************************** */
body.consultas {
    background: repeating-linear-gradient(
        to bottom, 
        rgba(255, 255, 255, 0.5), 
        rgba(255, 255, 255, 0.5) 30px, 
        rgba(255, 255, 255, 0.5) 30px, 
        rgba(255, 255, 255, 0.5) 60px
        );
    background-attachment: fixed;
    z-index: -1;
}

/* ********************************** Direcionado as paginas de consultas ********************************** */
body.fotos {
    background-color: rgba(255, 255, 255, 0.6);
    height: 100vh; /* Ajusta a altura do corpo para 100% da viewport */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    /* display: flex; */
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid black;
    border-radius: 10px;
    box-sizing: border-box; /* Inclui o padding na largura/altura total */
}

h2.fotos {
    color: rgb(16, 123, 211);
    text-align: center;
    font-family: Comic Sans MS;
    -webkit-text-stroke: 1px #000;
    text-stroke: 1px #000;
    text-outline: 1px #000;
}

#uploadForm {
    margin: 0 auto;
    width: 90%;
}

#progressBarContainer {
    margin-top: 20px;
}

#progressBar {
    background-color: #28a745; /* Cor verde do Bootstrap para sucesso */
}